/* Colors */
:root {
    --color-magenta: #FF0090;
    --color-grey: #d0d0d0;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-red: rgb(211, 47, 47);
    --color-green: rgb(23, 199, 23);
    --color-yellow: rgb(224, 206, 11);
    --color-orange: #E67E22;
    --color-krem: #feeeca;
    --color-light-orange: rgb(246, 157, 123);
    --color-pink: rgba(250, 101, 101, 0.68);
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-grey);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 1rem;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--color-yellow);
    cursor: url(images/minimal-tomato-pointer.png), auto;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #F1C40F;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--color-orange);
    cursor: url(images/minimal-tomato-pointer.png), auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-black);
    background-color: var(--color-krem);
    height: 100%;
    cursor: url(images/minimal-tomato-cursor.png), auto;
}

/* Header */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/tomatoes.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 5rem;
    font-weight: 700;
    color: var(--color-yellow);
    margin-bottom: 2rem;
}

.hero p {
    font-size: 1.8rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: var(--color-grey);
    max-width: 80%;
}

.hero a {

    font-size: 3rem;
    font-weight: 700;
}

/* Navigation */
nav {
    background-color: var(--color-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 3;
}


main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 4rem;
    text-align: center;
}

section h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-black);
    margin-bottom: 2rem;
}

section p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* About Us */
.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    z-index: 0;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 100%;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    filter: brightness(100%);
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: inherit;
    transform: translate(0%, -180%);
}

.team-member img:hover {
    filter: brightness(50%);
}

.team-member:hover .middle {
    opacity: 1;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.team-member p {
    font-size: 1rem;
    color: #888;
}

.tech-stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 0.1fr));
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 1rem;
}

.tech-plate {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tech-plate-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;

}

.tech-plate-content {
    padding: 2rem;
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 700;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
}

.feature {
    background-color: var(--color-pink);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.feature:hover .feature-image img {
    filter: brightness(30%);
}

.feature-content {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10%;
    margin-top: -100%;
    height: 100%;
    min-height: 450px;
    z-index: 2;
}

.feature-content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-black);
}

.feature-content p {
    transition: .5s ease;
    opacity: 0;
    font-size: 1.2rem;
    color: var(--color-grey);
}

.feature:hover .feature-content p {
    opacity: 1;
}
/* How it works */
@keyframes grow {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
}
.olcards li {
  counter-increment: cardCount;
  display: flex;
  color: white;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
  margin-top: var(--labelOffset);
  place-content: left;
}
  
.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: var(--cardColor);
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  padding-inline: 0.5em;
}

.olcards li .content {
    animation: grow 0.7s ease-out;
    transform-origin: left;
  background-color: var(--cardColor);
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  grid-template-areas:
    "icon title"
    "icon text";
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
  text-align: left;
}
.olcards li .content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
.olcards li .content::after {
  content: "";
  position: absolute;
  height: var(--cardsGap);
  width: var(--cardsGap);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}
.olcards li .icon {
  grid-area: icon;
  align-self: center;
  font-size: 2em;
}
.olcards li .content .title {
  grid-area: title;
  font-size: 1.25em;
  /* font-weight: 700; */
}
.olcards li .content .text {
  grid-area: text;
}

/* Contact Us */
.contact-us {
    padding: 2rem;
    flex-grow: 1;
}

.contact-us h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-black);
    margin-bottom: 1rem;
}

.contact-us p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

/* Footer */
footer {
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

/* Parallax Scrolling */
.parallax {
    /* The image used */
    background-image: url('images/tomatoes.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Lazy Load */
.lazy-load {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

/* icon */
.icon {
    background-image: url(images/app-icon.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 2rem;
}

a[href^="mailto:"] {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

a[href^="mailto:"]:hover {
    color: red;
}


/* Responsive */
@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 1.4rem;
    }

    .hero a {
        font-size: 1.8rem;
    }

    .features {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .feature-content {
        min-height: 350px;
    }

    .feature-content h3 {
        font-size: 1.2rem;
    }

    .feature-content p {
        font-size: 1rem;
    }

    .team {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .team-member img {
        height: 200px;
        max-width: 200px;
    }

    .tech-plate-content {
        font-size: 0rem;
    }

    section h2 {
        font-size: 2rem;
    }

    section p {
        font-size: 1.2rem;
    }

    nav a {
        font-size: 1rem;
    }

    @media screen and (max-width: 480px) {
        .hero h1 {
            font-size: 1.8rem;
        }

        .hero p {
            font-size: 1rem;
        }

        .hero a {
            font-size: 1rem;
        }

        section h2 {
            font-size: 1.5rem;
        }

        section p {
            font-size: 0.8rem;
        }

        .features {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        .feature-content {
            min-height: 250px;
        }

        .feature-content h3 {
            font-size: 1rem;
        }
    
        .feature-content p {
            font-size: 0.8rem;
        }

        .team {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }

        .team-member img {
            height: 150px;
            max-width: 150px;
        }

        .team-member h3 {
            font-size: 1rem;
        }

        .team-member p {
            font-size: 0.8rem;
        }

        footer {
            flex-direction: column;
            text-align: center;
        }
    }
}
